.backline {
    background: black;
    color: white;
    margin: 0;
    height: 100vh;
    text-transform: uppercase;
}

.back {
    display: grid;
    grid-template-columns: 50% 50%;
}



.backDer {
    background: yellow;
}

.backline h1 {
    text-align: center;
    background: red;
    margin: 0;
}

.backline h3 {
    color: #8DDEDC;
    margin: 0;
}

.backIzq {
    background: green;
    display: grid;
    grid-template-rows: 20% 30% 20% 30%;
}

