@font-face {
    font-family: 'kingkong';
    src: url('../fonts/NimbusSansT-BlackCondensed.otf');
}

@font-face {
    font-family: 'kingkongtexto';
    src: url('../fonts//ZZYZX.TTF');
}

.backline {
    background: black;
    margin: 0;
    height: 125vh;
    text-transform: uppercase;
    padding-top: 100px;
    color: whitesmoke;
}

.back {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
}

.backText h1 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: kingkong;
    font-size: 50px;
    background: #57DFDD;
    color: black;
    white-space: nowrap;
    border-right: 4px solid;
    width: 8ch;
    animation: typing 2s steps(12),
        blink 1s infinite step-end alternate;
    overflow: hidden;
    -webkit-animation: typing 2s steps(12), ;
}



.backline h3 {
    color: #8DDEDC;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 800;
    font-family: 'kingkong';
}

.logoBack {
    height: 100px;
    margin: 0;
    position: relative;
}

.logoBack img {
    width: 65%;
    margin: 0;
    position: relative;
    bottom: 90px;

}

.backIzq {
    font-family: 'kingkongtexto';

}

.backIzq p {
    margin: 0;
    margin-top: 10px;
    margin-left: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.backIzq ul {
    margin: 0;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.backIzq li {
    margin: 0;
    text-align: left;
}


.backDer {
    font-family: 'kingkongtexto';

}

.backDer ul {
    margin: 0;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.backDer li {
    margin: 0;
    text-align: left;
}

.register h3 {
    color: #8DDEDC;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 800;
    font-family: 'kingkong';
    text-align: center;
}

.register h4 {
    text-align: center;
    margin: 0;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'kingkong';
}

@media screen and (max-width: 480px) {

    .backline {
        display: none;
    }

}