.content_intro{
    background-image: url("../assets/first_back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 140vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0
}

.content_intro::before{
    background: linear-gradient(transparent, red);
    bottom: 0%
}

.content_text {
    position: sticky;
    top: 10%;
    bottom: 10%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}


.welcome {
    text-transform: uppercase;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    color: whitesmoke;
}

.intro-text {
  text-transform: uppercase;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 300;
}

.to {
  font-size: 5rem;
  font-weight: 800 !important;
    margin-top: 0;
    margin-bottom: 0;
    color:rgb(221, 220, 220)
}

.text-big {
  font-size: 5rem;
  font-weight: 800 !important;
}

.logo_uno {
    width: 700px
}

