@font-face {
  font-family: 'kingkong';
  src: url('../fonts/NimbusSansT-BlackCondensed.otf');
}

@font-face {
  font-family: 'kingkongtexto';
  src: url('../fonts//ZZYZX.TTF');
}


.all_content {
  background: black;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.title_bio {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: table;
}

.title_bio h1 {
  background: #55dcdb;
  color: rgb(0, 0, 0);
  font-family: kingkong;
  text-transform: uppercase;
  float: left;
  font-size: 50px;
  margin: 0;
  margin-top: 30px;
  letter-spacing: 4px;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 11ch;
  animation: typing 2s steps(12),
    blink 1s infinite step-end alternate;
  overflow: hidden;
  -webkit-animation: typing 2s steps(12), ;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.p_bio {
  width: 95%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-left: 40px;

}

.p_bio p {
  text-align: justify;
  font-family: 'kingkong';
  text-transform: uppercase;
  color: white;
  margin: 0;
  font-size: 19px;
  margin-bottom: 3px;
}

.p_bio strong {
  color: #8DDEDC;
}

.blur-img {
  position: sticky;
  z-index: 100;
  margin: auto;
  margin-top: 90px;
}

.blur-img img {
  width: 550px;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 10px 10px 30px #1e535394;
}

.icons_bio {
  margin-top: 25px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.icons_bio a {
  margin-left: 30px;
  font-size: 20px;
  color: white;

}

@media screen and (min-width: 992px) {

  .icons_bio {
    display: none;
  }

}


@media screen and (min-width : 481px) {
  .blur-img_dos {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .all_content {
    padding-top: 0px;
    display: flex;
    flex-direction: column;

  }

  .blur-img {
    display: none;
  }

  .blur-img_dos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .blur-img_dos img {
    width: 250px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #1e535394;
  }

  .p_bio {
    padding-left: 0px;
  }

  .p_bio p {
    text-align: justify;
    font-family: 'kingkongtexto';
    text-transform: uppercase;
    color: white;
    margin: 0;
    font-size: 14px;
    margin-bottom: 3px;
    margin-left: 14px;
    margin-right: 14px;
  }

}

@media screen and (min-width: 481px) and (max-width: 767px) {


  .all_content {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
  }

  .blur-img {
    display: none;
  }

  .blur-img_dos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .blur-img_dos img {
    width: 350px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #1e535394;
  }

  .p_bio p {
    text-align: justify;
    font-family: 'kingkongtexto';
    text-transform: uppercase;
    color: white;
    margin: 0;
    font-size: 16px;
    margin-bottom: 3px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media screen and (max-width: 480px) {
  .all_content {
    padding-top: 0px;
    display: flex;
    flex-direction: column;

  }

  .blur-img {
    display: none;
  }

  .blur-img_dos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .blur-img_dos img {
    width: 250px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #1e535394;
  }

  .p_bio p {
    text-align: justify;
    font-family: 'kingkongtexto';
    text-transform: uppercase;
    color: white;
    margin: 0;
    font-size: 14px;
    margin-bottom: 3px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  .all_content {
    padding-top: 0px;
    display: flex;
    flex-direction: column;

  }

  .blur-img {
    display: none;
  }

  .blur-img_dos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .blur-img_dos img {
    width: 350px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #1e535394;
  }

  .p_bio {
    padding-bottom: 20px;
  }

  .p_bio p {
    text-align: justify;
    font-family: 'kingkongtexto';
    text-transform: uppercase;
    color: white;
    margin: 0;
    font-size: 16px;
    margin-bottom: 3px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

  .blur-img {
    margin-top: 150px;
  }


  .blur-img img {
    width: 360px;
  }

  .p_bio {
    padding-left: 40px;
  }

  .p_bio p {

    font-size: 17px;

  }

  .all_content {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1440px) {

  .all_content {
    padding-top: 30px;
  }


  .p_bio {
    padding-left: 60px;
  }

  .p_bio p {

    font-size: 22px;

  }

  .blur-img {
    margin-top: 100px;
  }

  .title_bio h1 {
    font-size: 70px;
  }
}