@font-face {
  font-family: 'kingkong';
  src: url('../fonts/NimbusSansT-BlackCondensed.otf');
}

@font-face {
    font-family: 'kingkongtexto';
    src: url('../fonts//ZZYZX.TTF');
}

.content_band{
    background: linear-gradient(rgba(112, 117, 134, 0.445), rgba(60, 63, 73, 0.548)), url("../assets/papel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    display: grid;
    grid-template-columns: 50% 50%;
    text-transform: uppercase;

}

.first_content {
    background: black;
    width: 90%;
    height: 90%;
    margin: auto;

}

.first_content img {
    width: 60%;
    height: 60%;
    margin-top: 40px;
}


.second_content {
    background-color: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(1px) saturate(100%);
    border-radius: 15px;
    width: 90%;
    height: 90%;
    margin: auto;
}

.second_content h2 {
    background: #55dcdb;
  color: black;
  font-family: kingkong;
  text-transform: uppercase;
  font-size: 50px;
  margin: 0;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 4px;
  white-space: nowrap;
  border-right: 4px solid;
  width: 10ch;
  animation: typing 2s steps(12),
  blink 1s infinite step-end alternate;
  overflow: hidden;
  -webkit-animation: typing 2s steps(12),;
}

.second_content ul {
    margin-top: 40px;
}

.second_content li {
    font-family: kingkongtexto;
    font-size: 25px;
    list-style: none;
    margin-top: 10px;
    font-weight: 600;
}

.second_content strong {
    color: #55dcdb;
}