@font-face {
    font-family: 'kingkong';
    src: url('../fonts/NimbusSansT-BlackCondensed.otf');
}

@font-face {
    font-family: 'kingkongtexto';
    src: url('../fonts//ZZYZX.TTF');
}

.content_band {
    padding-top: 40px;
    background-color: black;
    display: grid;
    grid-template-columns: 50% 50%;
    text-transform: uppercase;
}

.first_content {
    z-index: 80;

}

.first_content img {
    width: 600px;
    height: 430px;
    margin-top: 60px;
}


.second_content {
    width: 100%;
    height: 100%;
    margin: auto;
}

.second_content h1 {
    background: #57DFDD;
    color: black;
    font-family: kingkong;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 4px;
    white-space: nowrap;
    border-right: 4px solid;
    width: 10ch;
    animation: typing 2s steps(12),
        blink 1s infinite step-end alternate;
    overflow: hidden;
    -webkit-animation: typing 2s steps(12), ;
}

.second_content ul {
    margin-top: 40px;
    margin-bottom: 0;
}

.second_content li {
    font-family: kingkongtexto;
    font-size: 28px;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 600;
    color: whitesmoke;
}

.second_content strong {
    color: #8DDEDC;
}

.second_content img {
    width: 60%;
    height: 250px;
    margin-top: -50px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .content_band {
        padding-top: 10px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;

    }

    .second_content h2 {
        margin-top: 20px;
        margin-bottom: none;
    }



    .second_content ul {
        margin-top: 20px;
        margin-right: 30px;

    }

    .second_content li {
        font-size: 35px;
        margin: 0;
    }

    .second_content img {
        display: none;
    }

    .first_content {
        order: 3
    }

    .second_content {
        height: 400px;
    }

    .first_content {
        padding-left: 0px;
    }

    .first_content img {
        width: 70%;
        height: 450px;
        border-radius: 5px;
    }

}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .content_band {
        padding-top: 10px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;

    }

    .second_content h2 {
        margin-top: 20px;
        margin-bottom: none;
    }



    .second_content ul {
        margin-top: 20px;
        margin-right: 30px;

    }

    .second_content li {
        font-size: 25px;
        margin: 0;
    }

    .second_content img {
        display: none;
    }

    .first_content {
        order: 3
    }

    .second_content {
        height: 400px;
    }

    .first_content {
        padding-left: 0px;
    }

    .first_content img {
        width: 80%;
        height: 450px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 480px) {

    .content_band {
        padding-top: 10px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
    }

    .second_content h2 {
        margin-top: 20px;
        margin-bottom: none;
    }



    .second_content ul {
        margin-top: 20px;
        margin-right: 30px;

    }

    .second_content li {
        font-size: 25px;
        margin: 0;
    }

    .second_content img {
        display: none;
    }

    .first_content {
        order: 3
    }

    .second_content {
        height: 400px;
    }

    .first_content {
        padding-left: 30px;
    }

    .first_content img {
        width: 300px;
        height: 230px;
        border-radius: 5px;
    }


}

@media screen and (min-width: 1440px) {
    .second_content h1 {
        font-size: 70px;
    }
}