@font-face {
    font-family: 'kingkong';
    src: url('../fonts/NimbusSansT-BlackCondensed.otf');
}

@font-face {
    font-family: 'kingkongtexto';
    src: url('../fonts//ZZYZX.TTF');
}

.contentTrayectoria {
    padding-top: 60px;
    background: black;
}

.trayectoria {
    display: grid;
    grid-template-columns: 50% 50%;
}



.info_trayectoria h1 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: kingkong;
    font-size: 50px;
    background: #57DFDD;
    color: black;
    white-space: nowrap;
    border-right: 4px solid;
    width: 11ch;
    animation: typing 2s steps(12),
        blink 1s infinite step-end alternate;
    overflow: hidden;
    -webkit-animation: typing 2s steps(12), ;
}


.info_trayectoria ul {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    list-style: none;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}

.info_trayectoria strong {
    color: #57DFDD;
    margin-right: 25PX;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info_trayectoria li {
    font-family: kingkong;
    font-size: 25px;
    letter-spacing: 2px;
    color: whitesmoke;
}

.logo_img {
    width: 38%;
    height: 250px;
    margin-top: -50px;
    margin-bottom: 0;
    ;
}

.info_dos_trayectoria {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.info_dos_trayectoria img {
    height: 500px;
    width: 300px;
}

@media screen and (min-width : 991px) {
    .title_sub {
        display: none;
    }
}

@media screen and (max-width: 480px) {

    .contentTrayectoria {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .trayectoria {
        display: flex;
        flex-direction: column;
    }

    .info_trayectoria {
        order: 2;
    }

    .info_dos_trayectoria {
        padding-top: 1px;
    }

    .info_dos_trayectoria img {
        height: 200px;
        width: 130px;
    }

    .info_trayectoria ul {
        margin-top: 20px;
        margin-right: 30px;
    }

    .info_trayectoria strong {
        color: #57DFDD;
        margin-right: 15PX;
        font-weight: 100;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .info_trayectoria li {
        font-family: kingkong;
        font-size: 15px;
        letter-spacing: 2px;
        color: whitesmoke;
    }

    .info_trayectoria h1 {
        display: none;
    }

    .title_sub {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        font-family: kingkong;
        font-size: 50px;
        background: #57DFDD;
        color: black;
        white-space: nowrap;
        border-right: 4px solid;
        width: 11ch;
        animation: typing 2s steps(12),
            blink 1s infinite step-end alternate;
        overflow: hidden;
        -webkit-animation: typing 2s steps(12), ;
    }

    .logo_img {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {

    .contentTrayectoria {
        padding-top: 60px;

    }

    .trayectoria {
        display: flex;
        flex-direction: column;
    }

    .info_trayectoria {
        order: 2;
    }

    .info_dos_trayectoria {
        padding-top: 1px;
    }

    .info_dos_trayectoria img {
        height: 300px;
        width: 220px;
    }

    .info_trayectoria ul {
        margin-top: 20px;
        margin-left: 130px;
        width: 70%;
    }

    .info_trayectoria strong {
        color: #57DFDD;
        margin-right: 17PX;
        font-weight: 100;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .info_trayectoria li {
        font-family: kingkong;
        font-size: 17px;
        letter-spacing: 2px;
        color: whitesmoke;
    }

    .info_trayectoria h1 {
        display: none;
    }

    .title_sub {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        font-family: kingkong;
        font-size: 50px;
        background: #57DFDD;
        color: black;
        white-space: nowrap;
        border-right: 4px solid;
        width: 11ch;
        animation: typing 2s steps(12),
            blink 1s infinite step-end alternate;
        overflow: hidden;
        -webkit-animation: typing 2s steps(12), ;
    }

    .logo_img {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .contentTrayectoria {
        padding-top: 60px;

    }

    .trayectoria {
        display: flex;
        flex-direction: column;
    }

    .info_trayectoria {
        order: 2;
    }

    .info_dos_trayectoria {
        padding-top: 1px;
    }

    .info_dos_trayectoria img {
        height: 300px;
        width: 220px;
    }

    .info_trayectoria ul {
        margin-top: 20px;
        margin-left: 140px;
        width: 70%;
        padding-bottom: 20px;
    }

    .info_trayectoria strong {
        color: #57DFDD;
        margin-right: 17PX;
        font-weight: 100;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .info_trayectoria li {
        font-family: kingkong;
        font-size: 24px;
        letter-spacing: 2px;
        color: whitesmoke;
    }

    .info_trayectoria h1 {
        display: none;
    }

    .title_sub {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        font-family: kingkong;
        font-size: 55px;
        background: #57DFDD;
        color: black;
        white-space: nowrap;
        border-right: 4px solid;
        width: 11ch;
        animation: typing 2s steps(12),
            blink 1s infinite step-end alternate;
        overflow: hidden;
        -webkit-animation: typing 2s steps(12), ;
    }

    .logo_img {
        display: none;
    }
}


@media screen and (min-width: 1440px) {

    .contentTrayectoria {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .info_trayectoria h1 {
        font-size: 70px;
    }

}