@font-face {
  font-family: 'kingkong';
  src: url('../fonts/NimbusSansT-BlackCondensed.otf');
}

@font-face {
    font-family: 'kingkongtexto';
    src: url('../fonts//ZZYZX.TTF');
}


.trayectoria {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.info_trayectoria {
    background: linear-gradient(rgba(112, 117, 134, 0.445), rgba(60, 63, 73, 0.548)), url("../assets/papel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.info_trayectoria h1 { 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: kingkong;
    font-size: 40px;
    background: #57DFDD;
    color: black;
    white-space: nowrap;
    border-right: 4px solid;
    width: 11ch;
    animation: typing 2s steps(12),
    blink 1s infinite step-end alternate;
    overflow: hidden;
    -webkit-animation: typing 2s steps(12),;
}


.info_trayectoria ul {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    list-style: none;
    text-align: left;
}

.info_trayectoria strong {
    color: #57DFDD;
    margin-right: 25PX;
    font-weight: 100;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info_trayectoria li {
    font-family: kingkong;
    font-size: 25px;
    letter-spacing: 2px;
}

.info_trayectoria img {
    width: 50%;
}

.info_dos_trayectoria {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(0, 0, 0)
}

.info_dos_trayectoria img {
    height: 550px;
    width: 350px;
}