body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0px;
}

.division {
 height: 40px;
  background-image: linear-gradient(to bottom, #161511, #454545, #7f7f7f, #b9b9b9, #bbbdc4); 
  background-size: cover; 
  background-position: top; 
}

