body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0px;
}

.division {
height: 40px;
  background-image: linear-gradient(to bottom, #161511, #0f0e0e, #161511, #000000);
  background-size: cover;
  background-position: top;
}

